body {
    background: #121212;
    color: white;
    font-family: Arial;
}

.navbar {
    background: #1e1e1e;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    margin: auto;
}
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    width: 100%;
    padding: 10px;
    background: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
}
