body {
    font-family: Arial;
    background: #121212;
    color: white;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #1e1e1e;
}

.nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.box {
    width: 350px;
    margin: 40px auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #4CAF50;
    border: none;
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

table {
    width: 80%;
    margin: auto;
    background: #1e1e1e;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}
