{% extends "base.html" %}
{% block content %}

<div class="box">
    <h3>Add Item</h3>

    <form method="POST">
        <input name="name" placeholder="Item name" required>

        <select name="size">
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
        </select>

        <input name="color" placeholder="Color" required>
        <input name="quantity" type="number" placeholder="Quantity" required>
        <input name="price" type="number" placeholder="Price" required>

        <button>Add</button>
    </form>
</div>

{% endblock %}
