<!DOCTYPE html>
<html>
<head><title>Add Item</title></head>
<body>

<h2>Add Clothing Item</h2>

<form method="POST">
    Name: <input name="name"><br><br>
    Size: 
    <select name="size">
        <option>S</option><option>M</option><option>L</option><option>XL</option>
    </select><br><br>
    Color: <input name="color"><br><br>
    Stock: <input name="stock" type="number"><br><br>
    Price: <input name="price" type="number"><br><br>

    <button type="submit">Add Item</button>
</form>

</body>
</html>
