<!DOCTYPE html>
<html>
<head>
    <title>Store Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="nav">
    <h2>Store Manager</h2>

    <div>
        {% if 'user' in session %}
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>
</div>

{% block content %}{% endblock %}

</body>
</html>
