{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 style="text-align:center;">Dashboard</h3>

    <div class="card-grid">

        <a class="card" href="/add_item">
            <h2>➕ Add New Item</h2>
            <p>Add stock with size & color</p>
        </a>

        <a class="card" href="/items">
            <h2>📦 View Inventory</h2>
            <p>Check all items in stock</p>
        </a>

        <a class="card" href="/analytics">
            <h2>📊 Analytics</h2>
            <p>Sales & stock reports</p>
        </a>

    </div>
</div>

{% endblock %}
