{% extends "base.html" %}
{% block content %}

<h2>Inventory Transactions</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Size</th>
        <th>Color</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Time</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
